{% extends 'base.html' %}

{% block body %}
<p class="h5">Возможности сайта:</p>
<ul>
    <li>
        <p>
            Преобразует загруженные Excel файлы в sqlite.db, sqlite.txt, mysql.txt, где <br>
            sqlite.db - база данных sqlite, имеет формат ".db", <br>
            sqlite.txt - текстовый файл, в котором предоставлены команды для построения базы данных sqlite, <br>
            mysql.txt - текстовый файл, в котором предоставлены команды для построения базы данных mysql
        </p>
    </li>
    <li>
        <p>
            Редактор дает возможность установить название аттрибута, его типа, ограничений, <br>
            установить является ли атрибут внешним ключом для определенной таблицы и атрибута
        </p>

    </li>
    <li>
        <p>
            В сайте предусмотрена возможность хранения файлов excel для их дальнейшего преобразования
        </p>
    </li>
</ul>
<p class="h5">Описание ролей:</p>
<ul >
    <li>
        <p>
            Участник - пользователь, имеющий возможность преобразования файлов excel в базу данных
            и хранить файлы excel
        </p>

    </li>
    <li>
        <p>
            Администратор - пользователь, имеющий возможность управлять всеми зарегистрированными
            пользователями,<br>
            а также хранящимися файлами excel
        </p>
    </li>
</ul>
{% endblock %}